.product-index img{
    height: 250px;
    object-fit: cover;
} 

// Carousel
    // Encadrement du carousel
.carousel-item{
    height: 500px;
    @media (min-width: 481px) and (max-width: 992px){
        height: 300px;
        }
    @media (max-width: 480px){
        height: 200px;
    }
    & img{
        border-radius: 0px 0px 700px 700px;
        height: 500px;
        object-fit: cover;
        @media (min-width: 481px) and (max-width: 992px){
            height: 300px;
            }
        @media (max-width: 480px){
            height: 200px;
        }
    }
}

    // Encadrement du btn du carousel
.carousel-caption a{
    border-radius: 50px 50px 50px 50px;
        @media (max-width: 992px){
            font-size: 0.8rem;
        }
    &:hover{
        background-color: $colour-primary;
    }
}
