// Ajustement de l'image du produit dans la page produit
.product-page img{
    height: 600px;
    object-fit: cover;
    @media (max-width: 992px){
        height: 300px;
    }
} 

// Alerte choix de la lentille
.alert-heading{
    @media (max-width: 992px){
        font-size: 1rem;
    }
}