.footer--social svg{
    height: 30px;
    width: 30px;
    color: $colour-white;
}

.footer--social svg:hover{
    color: $colour-primary;
}

footer a{
    text-decoration: none;
    color: $colour-white;
}

footer a:hover{
    text-decoration: none;
    color: $colour-primary;
}


.footer--social a:hover{
    text-decoration: none;
}