.footer--social svg{
    height: 30px;
    width: 30px;
    color: white;
}

.footer--social svg:hover{
    color: orange;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: orange;
}


.footer--social a:hover{
    text-decoration: none;
}