header{
    & div{
        & nav{
            & a{
                // Logo
                & img{
                    width: 200px;
                }
            }
        }
    }
}

// Alignement des éléments de la navbar
.navbar-nav{
    align-items: center;
    & a:hover{
        color: $colour-primary!important;  
    }
}

// Emplacement de l'affichage ou non de la bulle contenant le nombre de produit dans le panier
.header{
    &--cart {
        position: relative;
        & svg {
        position: absolute;
            top: 7px;
            right: 60px;
        }
        &--counter {
            position: absolute;
            top: -5px;
            right: 50px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background: #ffc107;
            font-weight: 700;
        }
    }
    @media (min-width: 992px){
        &--cart {
            position: relative;
            margin-left: 30px;
            & svg {
            position: absolute;
                top: 7px;
                right: -22px;
            }
            &--counter {
                position: absolute;
                top: -5px;
                right: -32px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                background: #ffc107;
                font-weight: 700;
            }
        }
    }     
}