header{
    & div{
        & nav{
            & a{
                & img{
                    width: 200px;
                }
            }
        }
    }
}
.navbar-nav{
    align-items: center;
    & a:hover{
        color: $colour-primary!important;  
    }
}